.c-app-header {
  background: #2c3e50;
  color: #fbfbfb;
  order: 0;
}

.c-app-header-title {
  margin: 3rem 2.4rem;
}
.c-app-header a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.c-nav-item {
  list-style: none;
  background: gray;
  margin-bottom: 0.45rem;
  margin-left: 0px;
  text-transform: capitalize;
}

.c-nav-item a {
  display: block;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
}

.c-nav-item a:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.c-nav-item .selected:hover,
.c-nav-item .active:hover {
  opacity: 1;
}

.c-app-header .selected {
  margin-left: -20px;
}

.c-nav-item-all {
  background: #1abc9c;
}

.c-nav-item-all.active {
  margin-left: -20px;
}
