.c-posts-list {
  color: #2c3e50;
  margin: 3.5em 2.5em 10em 2.5em;
}

@media (min-width: 550px) {
  .c-posts-list {
    margin: 3.5em 2.5em;
  }
}

.c-posts-list-title {
  color: #34495e;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.c-posts-list-item {
  background: #fbfbfb;
  border: 1px solid #e1e1e1;
  margin: 2.5em 0;
  padding: 1em;
}
