.c-post__meta {
  position: relative;
}

.c-post__info-box {
  float: left;
  width: 80%;
  margin-top: -1.2rem;
  margin-bottom: 1.6rem;
}

.c-post__counter {
  width: 50px;
  position: absolute;
  right: 0;
  top: -3.5rem;
}

.c-post__info {
  font-size: 0.8rem;
  opacity: 0.7;
}

.c-post__author {
  text-transform: capitalize;
  color: #27ae60;
  opacity: 1;
}
.c-post__body {
  float: left;
  width: 100%;
  margin-bottom: 4rem;
}

.c-post__no-comments {
  font-size: 0.8rem;
  color: #34495e;
  opacity: 0.8;
}

.c-posts-list-item a,
.c-posts-list-item a:visited,
.c-post-actions__link,
.c-post-actions__link:visited {
  color: #2c3e50;
  text-decoration: none;
}

.c-post-actions__link--create {
  text-decoration: underline;
  margin-top: 2rem;
  display: inline-block;
  color: #2980b9 !important;
}
