.c-post-form__container {
  color: #2c3e50;
  margin: 3.5em 2.5em 10em 1.5em;
}
.c-post-form__container--comments {
  margin: 3.5em 0.5em 10em 0.5em;
}
@media (min-width: 550px) {
  .c-post-form__container {
    margin: 3.5em 2.5em;
  }
  .c-post-form__container--comments {
    margin: 3.5em 1.5em;
  }
}

.c-post-form__main {
  margin-top: 3rem;
}

.c-post-form__main > div {
  margin-bottom: 2rem;
}

.c-post-form__main label {
  display: block;
  margin-bottom: 0.4rem;
}

.c-post-form__main input {
  display: block;
  width: 96%;
  height: 30px;
  padding: 0.3rem 0.8rem;
  border: 0;
  border-bottom: 2px solid #2ecc71;
}

.c-post-form__main textarea {
  display: block;
  width: 96%;
  height: 120px;
  padding: 0.3rem 0.8rem;
  border: 0;
  border-bottom: 2px solid #2ecc71;
  resize: none;
}

.c-post-form__main input:focus {
  border-color: transparent;
}

.c-btn {
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-right: 0.8rem;
  display: inline-block;
}
.c-btn__submit {
  background: #2ecc71;
  color: #ffffff;
}
.c-btn__cancel {
  background: #e74c3c;
  color: #ffffff;
}
