.c-vote-counter {
  width: 50px;
}

.c-vote-counter-button {
  background: transparent;
  border: 0;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.c-vote-counter h2 {
  text-align: center;
  font-size: 16px;
}
.c-vote-counter-value--negative {
  color: #c0392b;
}

.c-vote-counter-value--positive {
  color: #2980b9;
}
