body,
html,
body > div {
  height: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.c-app {
  height: 100%;
}

.c-app-container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.c-app-container > * {
  flex: 1 100%;
}

.c-app-main {
  background: #ecf0f1;
}

.c-app-main {
  flex: 3 100%;
  order: 1;
}

@media all and (min-width: 550px) {
  .c-app-header {
    flex: 1 auto;
  }
  .c-app-main {
    flex: 5 0px;
    order: 2;
  }
}
