body,
html,
body > div {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.c-app {
  height: auto;
  min-height: 100vh;
}

.c-app-container {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.c-app-container > * {
  flex: 1 100%;
}

.c-app-main {
  background: #ecf0f1;
}

.c-app-main {
  flex: 3 100%;
  order: 1;
}

@media all and (min-width: 550px) {
  .c-app-header {
    flex: 1 auto;
  }
  .c-app-main {
    flex: 5 0px;
    order: 2;
  }
}

.c-add-post--internal {
  color: #27ae60;
  margin: 1rem 0 0 -0.4rem;
  display: inline-block;
}

.c-tag--react {
  background: #3498db !important;
}

.c-tag--redux {
  background: #9b59b6 !important;
}

.c-tag--udacity {
  background: #f39c12 !important;
}
